
.poke1{

  height: 50%;
  width: 50%;
}

ion-button{
  --background: #CAA6A6;
}

.poke2{

  height: 50%;
  width: 50%;
}

.poke3{

  height: 50%;
  width: 50%;
}

ion-card{
  --background: #FFE7E7;
}

ion-item{
  --background: #B47B84;
}

ion-toolbar{
  --background: #944E63;
  --color: rgb(0, 0, 0);
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}